@font-face {
  font-family: "BootsAndSpurs";
  src: url("../fonts/Boots&Spurs_personal_use_only.ttf") format("truetype");
}

h1,
h2,
.logo {
  font-family: "BootsAndSpurs", Tahoma, Geneva, Verdana, sans-serif;
}

.product-list h2,
.reviewer,
li,
p {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

/* Header footer */

header,
footer {
  background-color: #202020;
  color: #ffffff;
}

header a {
  color: #ffffff;
  padding: 15px;
}

nav li {
  padding: 0px;
  display: inline-block;
}

a {
  text-decoration: none;
}
nav ul {
  padding: 0px;
  margin-left: 100px;
}
.current {
  text-decoration: underline;
}
header {
  display: flex;
  align-items: center;
}

/* Call-to-action */
.cta {
  background-color: #bb0000;
  color: #ffffff;
  font-size: 0, 8em;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 75px;
  font-family: "roboto";
}

.view {
  padding: 10px 30px;
}

.cta-sale {
  background-color: #127300;
}

.reviews {
  background-color: #e8e8e8;
  padding: 2%;
}

.featured--products {
  background-color: #fbfbfb;
}

footer,
.reviews h2 {
  text-align: center;
}

/* Home page */
.welcome {
  background-image: url("../pictures/home-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  min-height: 70vh;
  position: relative;
}

.welcome_content {
  left: 100px;
  top: 100px;
  text-align: center;
  position: absolute;
}

.playingguitar {
  border-radius: 60px;
  max-width: 20%;
}

.profilepicture {
  border-radius: 50%;
  max-width: 105px;
  float: right;
  display: inline;
}

.intro,
.reviews_content {
  display: flex;
  margin: 3% auto;
  justify-content: center;
}

.content {
  display: inline-block;
  margin: 0 3% 0 0;
}

.review {
  max-width: 350px;
  margin: 1% 75px;
}

/* Adirondack page */

.adirondack_layout {
  display: flex;
  justify-content: center;
  margin: 70px auto;
  max-width: 1000px;
}

.adirondack_pictures {
  display: flex-wrap;
  max-width: 540px;
  margin: auto 50px;
}

.adirondack-red-small {
  max-width: 132px;
}
.adirondack-red-wide {
  max-width: 540px;
}

.adirondack_layout a {
}

/* Contact page */
label {
  font-family: "Roboto";
}

input,
select,
textarea {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  margin: 10px 10px 10px 0px;
  padding: 10px;
}

textarea {
  height: 65%;
}

.contact {
  max-width: 1000px;
  margin: 50px auto;
  text-align: center;
}

.form-wrapper {
  display: flex;
  text-align: left;
}

.form-wrapper > * {
  flex: 1;
  display: flex;
  flex-direction: column;
}
